<div class="chatDiv">
  <div class="row">
    <div class="col col-lg-4">

    </div>
    <div class="col col-lg-6">
      <mat-card class="example-card">
        <mat-card-header class="mathead">
          <mat-card-title>Chat</mat-card-title>
          <mat-card-subtitle>Your Name</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="chatbox" id="message_list" (onScroll)="track($event)" appScrollDirective>

          <div *ngFor="let messageld  of sentmessages" class="row" ngx-auto-scroll>
            <div  class="col col-lg-6">
                  <div *ngIf="!messageld.userId" class="list-left">
                      <span >{{ messageld.message}}</span>
                  </div>
            </div>
            <div class="col col-lg-6">
                <div *ngIf="messageld.userId" class="list-right">
                    <span >{{ messageld.message }}</span>
                </div>
              </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="row">

            <div class="col-md-10">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control inputType" id="contactName" aria-describedby="contact name" placeholder="" [(ngModel)]="sentmessage"
                    [ngModelOptions]="{standalone: true}">
                </div>

              </form>
            </div>
            <div class="col-md-2">
              <button type="submit" (click)="sendMessageUser()">User</button>
              <button type="submit" (click)="sendMessageAdmin()">Admin</button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col col-lg-2">

    </div>
  </div>